<aside id="leftsidebar" class="sidebar">
    <!-- User Info -->
    <div class="user-info">
        <div class="image">
            <img src="images/user.png" width="48" height="48" alt="User" />
        </div>
        <div class="info-container">
            <div class="name" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Hamza Saleem</div>
            <div class="email">hamzasaleem@gmail.com</div>
            <div class="btn-group user-helper-dropdown">
                <i class="material-icons" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">keyboard_arrow_down</i>
                <ul class="dropdown-menu pull-right">
                    <li><a href="javascript:void(0);"><i class="material-icons">person</i>Profile</a></li>
                    <li role="seperator" class="divider"></li>
                    <li><a href="javascript:void(0);"><i class="material-icons">group</i>Followers</a></li>
                    <li><a href="javascript:void(0);"><i class="material-icons">shopping_cart</i>Sales</a></li>
                    <li><a href="javascript:void(0);"><i class="material-icons">favorite</i>Likes</a></li>
                    <li role="seperator" class="divider"></li>
                    <li><a href="javascript:void(0);"><i class="material-icons">input</i>Sign Out</a></li>
                </ul>
            </div>
        </div>
    </div>
    <!-- #User Info -->
    <!-- Menu -->
    <div class="menu">
        <ul class="list">

            <li class="header">Consultant/Bureau Options</li>
            <li class="active">
                <a href="dashboard">
                    <i class="material-icons">home</i>
                    <span>Home</span>
                </a>
            </li>


            <!-- ----------------------------------------- -->
            <!-- ----------------------------------------- -->


            <li>
                <a href="javascript:void(0);" class="menu-toggle">
                    <i class="material-icons">widgets</i>
                    <span>My Info</span>
                </a>
                <ul class="ml-menu">
                    <li>
                        <a href="pages/widgets/cards/no-header.html">Personal Information</a>
                    </li>
                    <li>
                        <a href="pages/widgets/cards/basic.html">General Account Setting</a>
                    </li>
                    <li>
                        <a href="pages/widgets/cards/colored.html">Security and Login</a>
                    </li>

                </ul>
            </li>
            <!-- ----------------------------------------- -->
            <!-- ----------------------------------------- -->

            <li>
                <a href="javascript:void(0);" class="menu-toggle">
                    <i class="material-icons">widgets</i>
                    <span>My Profile</span>
                </a>
                <ul class="ml-menu">
                    <li>
                        <a href="add_profile">Add new Profile</a>
                    </li>
                    <li>
                        <a href="manage_profile">Manage Profiles</a>
                    </li>


                </ul>
            </li>
            <!-- ----------------------------------------- -->
            <!-- ----------------------------------------- -->

            <li>
                <a href="javascript:void(0);" class="menu-toggle">
                    <i class="material-icons">widgets</i>
                    <span>Membership</span>
                </a>
                <ul class="ml-menu">
                    <li>
                        <a href="pages/widgets/cards/no-header.html">Membership Details</a>
                    </li>
                </ul>
            </li>

            <!-- ----------------------------------------- -->
            <!-- ----------------------------------------- -->


            <li>
                <a href="javascript:void(0);" class="menu-toggle">
                    <i class="material-icons">widgets</i>
                    <span>Payment</span>
                </a>
                <ul class="ml-menu">
                    <li>
                        <a href="pages/widgets/cards/no-header.html">Payment Details</a>
                    </li>

                </ul>
            </li>

            <!-- ----------------------------------------- -->
            <!-- ----------------------------------------- -->


        </ul>
    </div>
    <!-- #Menu -->
    <!-- Footer -->
    <div class="legal">
        <div class="copyright">
            &copy; 2018 - 2019 <a href="javascript:void(0);">Ziwaj - Matrimonial Platform</a>.
        </div>
        <!-- Version
        <div class="version">
            <b>Version: </b> 1.0.1
        </div>
        -->
    </div>
    <!-- #Footer -->
</aside>
