<div class="container-fluid">

    <div class="block-header">
        <h2>DASHBOARD</h2>
    </div>





    <!-- Advanced Select -->

            <div class="row clearfix">

				<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="card">
                        <div class="body">
                            <h6>
                                FEATURED SEARCH
                            </h6>
                             <small>Showing profiles 1 to 10 of 15000+ matches found.</small>

                        </div>
                        <div class="body">
                            <div class="row clearfix">
                                <div class="col-md-3">
                                    <p>
                                        <b>Seeking</b>
                                    </p>
                                    <select class="form-control show-tick">
                                        <option>Bride</option>
                                        <option>Groom</option>
                                    </select>

                                </div>
                                <div class="col-md-3">
                                    <p>
                                        <b>Education</b>
                                    </p>
                                    <select class="form-control show-tick">
                                        <optgroup label="Picnic">
                                            <option>Mustard</option>
                                            <option>Ketchup</option>
                                            <option>Relish</option>
                                        </optgroup>
                                        <optgroup label="Camping">
                                            <option>Tent</option>
                                            <option>Flashlight</option>
                                            <option>Toilet Paper</option>
                                        </optgroup>
                                    </select>

                                </div>
                                <div class="col-md-3">
                                    <p>
                                        <b>Annual Income</b>
                                    </p>
                                    <select class="form-control show-tick" multiple>
                                        <option>Mustard</option>
                                        <option>Ketchup</option>
                                        <option>Relish</option>
                                    </select>

                                </div>
                                <div class="col-md-3">
                                    <p>
                                        <b>With Search Bar</b>
                                    </p>
                                    <select class="form-control show-tick" data-live-search="true">
                                        <option>Hot Dog, Fries and a Soda</option>
                                        <option>Burger, Shake and a Smile</option>
                                        <option>Sugar, Spice and all things nice</option>
                                    </select>
                                </div>
                            </div>
                            <div class="row clearfix">
                                <div class="col-md-3">
                                    <p>
                                        <b>Cast</b>
                                    </p>
                                    <select class="form-control show-tick" multiple>
                                        <optgroup label="Condiments" data-max-options="2">
                                            <option>Mustard</option>
                                            <option>Ketchup</option>
                                            <option>Relish</option>
                                        </optgroup>
                                        <optgroup label="Breads" data-max-options="2">
                                            <option>Plain</option>
                                            <option>Steamed</option>
                                            <option>Toasted</option>
                                        </optgroup>
                                    </select>
                                </div>
                                <div class="col-md-3">
                                    <p>
                                        <b>Marital status</b>
                                    </p>
                                    <select class="form-control show-tick" multiple data-selected-text-format="count">
                                        <option>Mustard</option>
                                        <option>Ketchup</option>
                                        <option>Relish</option>
                                        <option>Onions</option>
                                    </select>
                                </div>
                                <div class="col-md-3">
                                    <p>
                                        <b>Annual Income</b>
                                    </p>
                                    <select class="form-control show-tick" data-show-subtext="true">
                                        <option data-subtext="French's">Mustard</option>
                                        <option data-subtext="Heinz">Ketchup</option>
                                        <option data-subtext="Sweet">Relish</option>
                                        <option data-subtext="Miracle Whip">Mayonnaise</option>
                                        <option data-divider="true"></option>
                                        <option data-subtext="Honey">Barbecue Sauce</option>
                                        <option data-subtext="Ranch">Salad Dressing</option>
                                        <option data-subtext="Sweet &amp; Spicy">Tabasco</option>
                                        <option data-subtext="Chunky">Salsa</option>
                                    </select>
                                </div>
                                <div class="col-md-3">
                                    <p>
                                        <b>Refine Search</b>
                                    </p>

									<button class="btn bg-light-blue waves-effect" type="submit">Search</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>










            </div>
    <!-- #END# Advanced Select -->












    <div class="row clearfix">
        <div class="col-lg-9 col-md-9 col-sm-12 col-xs-12">


            <div class="row clearfix">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="card">
                        <div class="body table-responsive">
                            <table class="table table-hover">
                                <tbody>

                                <h4>Moaz Uddin Khan</h4>

                                <tr>
                                    <td><small><b>Age</b></small></td>
                                    <td><small>23</small></td>
                                    <td><small><b>Education</b></small></td>
                                    <td><small>Bachlors</small></td>

                                </tr>
                                <tr>
                                    <td><small><b>Education</b></small></td>
                                    <td><small>Bachlors</small></td>
                                    <td><small><b>Nationality</b></small></td>
                                    <td><small>Pakistani</small></td>
                                </tr>
                                <tr>
                                    <td><small><b>Nationality</b></small></td>
                                    <td><small>Pakistani</small></td>
                                    <td><small><b>Age</b></small></td>
                                    <td><small>23</small></td>

                                </tr>

                                </tbody>
                            </table>
                            <div class="btn-group" role="group">
                                <button type="button" class="btn bg-cyan waves-effect">View Profile</button>
                                <button type="button" class="btn bg-teal waves-effect">Bookmark</button>
                                <button type="button" class="btn bg-cyan waves-effect">Contact</button>
                            </div>
                        </div>

                    </div>
                </div>
            </div>



















            <div class="row clearfix">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="card">
                        <div class="body table-responsive">
                            <table class="table table-hover">
                                <tbody>

                                <h4>Moaz Uddin Khan</h4>

                                <tr>
                                    <td><small><b>Age</b></small></td>
                                    <td><small>23</small></td>
                                    <td><small><b>Education</b></small></td>
                                    <td><small>Bachlors</small></td>

                                </tr>
                                <tr>
                                    <td><small><b>Education</b></small></td>
                                    <td><small>Bachlors</small></td>
                                    <td><small><b>Nationality</b></small></td>
                                    <td><small>Pakistani</small></td>
                                </tr>
                                <tr>
                                    <td><small><b>Nationality</b></small></td>
                                    <td><small>Pakistani</small></td>
                                    <td><small><b>Age</b></small></td>
                                    <td><small>23</small></td>

                                </tr>

                                </tbody>
                            </table>
                            <div class="btn-group" role="group">
                                <button type="button" class="btn bg-cyan waves-effect">View Profile</button>
                                <button type="button" class="btn bg-teal waves-effect">Bookmark</button>
                                <button type="button" class="btn bg-cyan waves-effect">Contact</button>
                            </div>
                        </div>

                    </div>
                </div>
            </div>












            <div class="row clearfix">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="card">
                        <div class="body table-responsive">
                            <table class="table table-hover">
                                <tbody>

                                <h4>Moaz Uddin Khan</h4>

                                <tr>
                                    <td><small><b>Age</b></small></td>
                                    <td><small>23</small></td>
                                    <td><small><b>Education</b></small></td>
                                    <td><small>Bachlors</small></td>

                                </tr>
                                <tr>
                                    <td><small><b>Education</b></small></td>
                                    <td><small>Bachlors</small></td>
                                    <td><small><b>Nationality</b></small></td>
                                    <td><small>Pakistani</small></td>
                                </tr>
                                <tr>
                                    <td><small><b>Nationality</b></small></td>
                                    <td><small>Pakistani</small></td>
                                    <td><small><b>Age</b></small></td>
                                    <td><small>23</small></td>

                                </tr>

                                </tbody>
                            </table>
                            <div class="btn-group" role="group">
                                <button type="button" class="btn bg-cyan waves-effect">View Profile</button>
                                <button type="button" class="btn bg-teal waves-effect">Bookmark</button>
                                <button type="button" class="btn bg-cyan waves-effect">Contact</button>
                            </div>
                        </div>

                    </div>
                </div>
            </div>

















            <div class="body" align="center">
                <nav>
                    <ul class="pagination">
                        <li>
                            <a href="javascript:void(0);" class="waves-effect">
                                <i class="material-icons">chevron_left</i>
                            </a>
                        </li>
                        <li><a href="javascript:void(0);" class="waves-effect">1</a></li>
                        <li><a href="javascript:void(0);" class="waves-effect">2</a></li>
                        <li><a href="javascript:void(0);" class="waves-effect">3</a></li>
                        <li><a href="javascript:void(0);" class="waves-effect">4</a></li>
                        <li><a href="javascript:void(0);" class="waves-effect">5</a></li>
                        <li>
                            <a href="javascript:void(0);" class="waves-effect">
                                <i class="material-icons">chevron_right</i>
                            </a>
                        </li>
                    </ul>
                </nav>
            </div>










        </div>
        <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">


            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="card">
                    <div class="body">
                        <h6><u>Find your Best match</u></h6>
                        <small>Showing profiles 1 to 10 of 15000+ matches found.</small>

                        <h6><u>Select Profile</u></h6>

                        <select class="form-control show-tick">
                            <optgroup label="Unmarried">
                                <option>Daughter</option>
                                <option>Son1</option>
                                <option>Son2</option>
                                <option>Son3</option>
                            </optgroup>
                        </select>



                    </div>
                </div>
            </div>


            <!-- Checkbox -->
            <div class="row clearfix">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">

                </div>
            </div>
            <!-- #END# Checkbox -->

















        </div>
    </div>



    <!-- Widgets -->
    <!-- #END# Widgets -->
    <!-- CPU Usage -->
    <!-- #END# CPU Usage -->

</div>
